<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:replace="fragments :: nameH1">Default title</h1>
<nav th:replace="fragments :: navigation"></nav>
<p>Add a Task to your List...</p>
<form method="post" action="/save" style="..." th:object="${task}">
    <div class="form-group">
        <label th:for="title">Title</label>
        <input class="form-control" th:field="*{title}">
        <span th:errors="*{title}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input type="text" class="form-control" th:field="*{description}">
        <span th:errors="*{description}" class="error"></span>
    </div>
    <input type="submit" value="Add Item" class="btn btn-outline-success" placeholder="" aria-label="Example text with two button addons" aria-describedby="button-addon3">
</form>
</body>
</html>